.tweet-uploadImg__container.mg-lw.hidden
    .tweet-uploadImg__content.grid--collage(data-items="0")
        figure.tweet-uploadImg__fig.hidden
            button.btn--icon-dull.pos-tl(data-action='remove-img')
                i.fa.fa-times
            //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
                | Edit
            img.tweet-uploadImg(src=`${imgUrl}` alt='')
        figure.tweet-uploadImg__fig.hidden
            button.btn--icon-dull.pos-tl(data-action='remove-img')
                i.fa.fa-times
            //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
                | Edit
            img.tweet-uploadImg(src=`${imgUrl}` alt='')
        figure.tweet-uploadImg__fig.hidden
            button.btn--icon-dull.pos-tl(data-action='remove-img')
                i.fa.fa-times
            //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
                | Edit
            img.tweet-uploadImg(src=`${imgUrl}` alt='')
        figure.tweet-uploadImg__fig.hidden
            button.btn--icon-dull.pos-tl(data-action='remove-img')
                i.fa.fa-times
            //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
                | Edit
            img.tweet-uploadImg(src=`${imgUrl}` alt='')
