.preview[data-preview='audience'] {
  .preview {
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////
    //////////////////////////////////////////////

    &-option[data-value='everyone'] {
      i {
        background: var(--color-primary);
      }
    }
    &-option[data-value='my-circle'] {
      .icon-box {
        padding: 2.4rem 1.8rem;
      }

      i {
        background: var(--color-secondary);
        font-size: $default-font-size !important;
      }
    }
  }
}
