aside.sidebar-box.p-sm-f.mg-t-lw 
    h5.h-6.mg-lw New to Twitter 
    p.t--sm.mg-lw Sign up now to get your own personalized timeline!
    button.btn--white.btn--100.mg-sm(data-action="login")  Sign up with email
    p.t--sm.mg-lw 
        span By signing up, you agree to the 
        span.blue Terms of Service  
        span and 
        span.blue Privacy Policy 
        span including 
        span.blue Cookie Use. 