.news {
  .main-header {
    padding: 0.8rem;
  }

  &-img {
    img {
      width: 100%;
    }
  }

  &-source {
    text-transform: uppercase;
    font-weight: 700;
  }

  &-content {
    padding-top: 1rem !important;

    width: 98%;
  }

  h3 {
    font-size: 2.4rem;
  }
}
