.section-notification {
  li {
    align-items: flex-start;
    row-gap: 1rem;
    i {
      font-size: 2.4rem;
      // color: var(--color-tertiary);
    }

    .preview-details-col {
      row-gap: 1rem;
    }

    img {
      display: block;
    }
  }
}
