extends ../common_page

block section 
    section.section.section-settings(data-section=`settings` data-page=`${page}` data-cur_user=`${JSON.stringify(cur_user)}`)

        block content
    



block sidebar
