.dropDown {
  &-parent {
    position: relative;
  }

  // &-text {
  //   position: relative;
  //   z-index: 300;
  // }

  &-list {
    background: var(--default-background);
    @include flex-column;
    display: inline-flex;
    border-radius: $radius-md;
    box-shadow: 0 0 2.4rem 0.1rem rgba($color-grey, 0.24);
    border: var(--border-line);
    cursor: pointer;
    max-width: 25rem;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    z-index: 100;
    transform-origin: top;
  }

  &-list[data-height='auto'] {
    height: auto !important;
  }

  &-item {


    &:hover {
      background: var(--background-hover);
    }
  }

  // js
  &-parent &-list[data-active='false'] {
    transform: scaleY(0);
  }

  &-parent &-list[data-active='true'] {
    animation: moveBottom 0.15s ease-in 0.07s both;
  }
}
