extends ../base_settings_page

block content
    .settings

        header.p-sm
            .f-sm.f-3.mg-sm
                a(href="/settings")
                    button.btn--icon-fixed
                        i.fa.fa-arrow-left
                h6.h-6.mg-0 Change your password


        .settings-content
            form.form.form-static(data-form='setting-change-password' data-optional='false' onsubmit='return false;')
                .form-container
                    .form-content
                        .form-groups
                            .form-group(data-field='cur_password' data-input-filled='false' data-active='false' data-error='false')
                                label.form-label(for='cur_password') Current password
                                input#cur_password.form-input(type='password' name='password' minlength='8' maxlength='50'
                                  placeholder="")
                                a(href='/forgotPassword/0' class="forgot-password-btn")
                                    button.btn--text.form-help.form-help--left(data-action='forgot-cur_password')
                                        | Forgot password?
                                p.form-error.hidden Password incorrect.

                            .line-dim

                            .form-group(data-field='new_password' data-input-filled='false' data-active='false' data-error='false')
                                label.form-label(for='new_password') New password
                                input#new_password.form-input(type='password' name='newPassword' minlength='8' maxlength='50'  placeholder=""   )
                                p.form-error.hidden Min Length 8
        
                            .form-group(data-field='confirm_password' data-input-filled='false' data-active='false' data-error='false')
                                label.form-label(for='confirm_password') Confirm password
                                input#confirm_password.form-input(type='password' name='confirmNewPassword' minlength='8' maxlength='50'  placeholder=""   )
                                p.form-error.hidden Passwords do not match
        

                            

                            .line-dim.mg-sm

                        button.btn--primary.mg-l.btn--md.form-submitBtn(disabled)
                            | Save


