extends ../base_settings_page

block content
    .settings

        header.p-sm
            .f-sm.f-3.mg-lw
                a(href="/settings/account")
                    button.btn--icon-fixed
                        i.fa.fa-arrow-left
                h6.h-6.mg-0 Change username


        .settings-content
            form.form.form-static(data-form='setting-update-username' data-optional='false' onsubmit='return false;')
                .form-container
                    .form-content
                        .form-groups
                            .form-group.mg-sm(data-field='avatar' data-input-filled='true' data-active='false' data-error='false')
                                label.form-label(for='avatar') Username
                                input#avatar.form-input(type='avatar' name='avatar' minlength='8' maxlength='50' value=user.avatar placeholder="")
                                p.form-error.hidden Min Length 8

                        .line-dim.mg-lw

                        div.settings-padding  
                            h5.h-5.mg-smSuggestions

                            ul.mg-sm.settings-username-suggestions
                                each suggestion in suggestions
                                    li.mg-sm.settings-avatar-suggestion(data-value=suggestion)
                                        span.blue= suggestion 

                        .line-dim.mg-sm

                        button.btn--primary.mg-l.btn--md.form-submitBtn(disabled)
                            | Save


