.modal.hidden(data-modal='fixed-height' data-section='1' data-action='tweet-liked-by')
    .overlay
    .modal-container
        header.modal-header.p-lw.f-md.f-3.f-1
            button.btn--icon.modal-closeBtn
                i.fa.fa-times
            h5.h-5 Liked by
        .modal-sections
            section.modal-section(data-section='twitter-circle')
                ul.modal-list
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                            .preview-text my life is beautiful
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
                    .preview-item(data-active='true')
                        img.preview-img(src='../../img/users/default.png' alt='')
                        .preview-details
                            .preview-title rtr
                            .preview-extra @RohitRa19327711
                        p.preview-state
                            button.btn--outline.btn--sm(data-action='follow')
                                | Follow
