form.form.form--signUp(data-form='signUp' data-stage=5   data-action='set-profile' data-optional='true' onsubmit='return false;' data-email=`${user.email}`
data-progress-line-exist="true" 
data-is_form_hidden="true" 
data-form_submitting="false")
    .form-overlay.overlay &nbsp;
    .form-container.abs-center
        div.progress-line(data-progress='0')
        .form-content
            .center.m-center.mg-sm
                i.fab.fa-twitter.icon--simple
            h3.h-4.mg-lw Pick a profile picture
            p.t--md.mg-bg Have a favourite selfie? Upload it now.
            .form-group.form-photo__box.m-center
                input.hidden(type='file' id="profilePic" name='profilePic' accept='image/*')
                label.form-photo__label.m-center(for='profilePic')
                    i.fas.fa-camera.icon--sm.form-photo__icon.abs-center
                    img.img.form-photo__img(src='/img/users/default.png' alt='')
            .form-submitBtn__box
                button.btn--outline.form-submitBtn
                    | Skip for now
