extends ./base_page

block section-content
    .section.section-explore-news.section-non-login-user-explore(data-section="explore")
        header.sticky-header 
            .header-content
                include ../../components/common_different_component/search_user_or_tweets


        .explore-news
            include ../../components/explore/explore_modal
        
            





