.popup.hidden(data-tweet-type="draft-tweets" data-action='delete-unsent-tweets' data-click-event="false" data-delete-tweet-arr)
    .overlay 
    .popup-container
        h6.h-6.mg-sl Discard unsent Tweets
        p.t--sm.mg-sm This can’t be undone and you’ll lose your unsent Tweets. 
        button.btn--white.btn--full.mg-sl(data-action='delete-tweets') Delete
        button.btn--outline.btn--full(data-action='hide-popup') Cancel 

