@import url('https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap');

// $background-on
// $background-alt

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$color-shadow: #777;
$color-shadow-dark: #666;
$color-shadow-light: #999;

$color-white: #fff;
$color-white-light: #f1f3f5;
$color-white-dark: #e9ecef;

$color-grey: #ced4da;
$color-grey-light: #dee2e6;
$color-grey-dark: #adb5bd;

$color-black: #000;
$color-black-dark: #222;
$color-black-light: #212529;
$color-black-dim: #333;
$color-black-dull: #444;

// COLOR VARIABLES
$color-primary: #339af0;
$color-primary-light: #74c0fc;
$color-primary-dark: #228be6;
$color-primary-opacity: #d0ebff;

:root {
  // COLOR
  --color-primary: rgb(28, 126, 214);
  --color-primary-light: rgb(51, 154, 240);
  --color-primary-light-fade: #7ab7e6;
  --color-primary-dark: #1971c2;
  --color-primary-dull: rgba(51, 154, 240, 0.3);
  --color-primary-dim: rgba(51, 154, 240, 0.15);
  --color-primary-fade: rgba(51, 154, 240, 0.05);

  --color-secondary: #0ca678;
  --color-secondary-light: #20c997;
  --color-secondary-light-fade: #96f2d7;
  --color-secondary-dark: #099268;
  --color-secondary-dull: rgba(12, 166, 120, 0.3);
  --color-secondary-dim: rgba(12, 166, 120, 0.15);
  --color-secondary-fade: rgba(12, 166, 120, 0.05);

  --color-tertiary: #e03131;
  --color-tertiary-dark: #c92a2a;
  --color-tertiary-light: rgba(224, 49, 49, 0.5);
  --color-tertiary-light-fade: #ffc9c9;
  --color-tertiary-dim: rgba(224, 49, 49, 0.3);
  --color-tertiary-dull: rgba(224, 49, 49, 0.15);
  --color-tertiary-fade: rgba(224, 49, 49, 0.05);

  --color-quad: #6741d9;
  --color-quad-dark: #5f3dc4;
  --color-quad-light: rgb(132, 94, 247);
  --color-quad-light-fade: #d0bfff;
  --color-quad-dim: rgba(132, 94, 247, 0.3);
  --color-quad-dull: rgba(132, 94, 247, 0.15);
  --color-quad-fade: rgba(132, 94, 247, 0.05);

  --color-pent: #0c8599;
  --color-pent-dark: #0b7285;
  --color-pent-light: rgb(34, 184, 207);
  --color-pent-light-fade: #99e9f2;
  --color-pent-dim: rgba(34, 184, 207, 0.3);
  --color-pent-dull: rgba(34, 184, 207, 0.15);
  --color-pent-fade: rgba(34, 184, 207, 0.05);

  --color-hex: #e8590c;
  --color-hex-dark: #d9480f;
  --color-hex-light: rgb(255, 146, 43);
  --color-hex-light-fade: #ffd8a8;
  --color-hex-dim: rgba(255, 146, 43, 0.3);
  --color-hex-dull: rgba(255, 146, 43, 0.15);
  --color-hex-fade: rgba(255, 146, 43, 0.05);

  // TEXT COLOR
  --default-text: #e9ecef;
  --text-light: #dee2e6;
  --text-dark: #adb5bd;
  --text-dull: #6a6767;
  --text-dim: #767474;

  --border-line: 1px solid var(--background-dim);
  --border-line-dark: 1px solid var(--background-dark);
  --border-line-light: 1px solid var(--background-light);
  --border-line-dull: 1px solid var(--background-dull);
  --border-line-primary: 1px solid var(--color-primary);

  --brightness: 55%;

  --shadow-light: 0 1.2rem 2.4rem rgba(var(--default-text), 0.1);
  --shadow-medium: 0 1.2rem 2.4rem rgba(var(--default-text), 0.2);
  --shadow-dark: 0 1.2rem 2.4rem rgba(var(--default-text), 0.3);

  // BACKGROUND
  --default-background: #000;
  --background-light: #212529;
  --background-dark: #222;
  --background-dull: #333;
  --background-dim: #444;
  --background-hover: #ffffff1a;
  --background-hover-l: #314a611f;
  --backgrund-hover-light: #ffffff0d;
  --background-opacity: rgba(#000, 0.5);
}

:root[data-color='secondary'] {
  --color-primary: #0ca678;
  --color-primary-light: #20c997;
  --color-primary-light-fade: #96f2d7;
  --color-primary-dark: #099268;
  --color-primary-dull: rgba(12, 166, 120, 0.3);
  --color-primary-dim: rgba(12, 166, 120, 0.15);
  --color-primary-fade: rgba(12, 166, 120, 0.05);

  --color-secondary: rgb(28, 126, 214);
  --color-secondary-light: #339af0;
  --color-secondary-light-fade: #7ab7e6;
  --color-secondary-dark: #1971c2;
  --color-secondary-dull: rgba(51, 154, 240, 0.3);
  --color-secondary-dim: rgba(51, 154, 240, 0.15);
  --color-secondary-fade: rgba(51, 154, 240, 0.05);
}
:root[data-color='teritiary'] {
  --color-primary: #e03131;
  --color-primary-dark: #c92a2a;
  --color-primary-light: rgba(224, 49, 49, 0.5);
  --color-primary-light-fade: #ffc9c9;
  --color-primary-dim: rgba(224, 49, 49, 0.3);
  --color-primary-dull: rgba(224, 49, 49, 0.15);
  --color-primary-fade: rgba(224, 49, 49, 0.05);

  --color-tertiary: rgb(28, 126, 214);
  --color-tertiary-light: #339af0;
  --color-tertiary-light-fade: #7ab7e6;
  --color-tertiary-dark: #1971c2;
  --color-tertiary-dull: rgba(51, 154, 240, 0.3);
  --color-tertiary-dim: rgba(51, 154, 240, 0.15);
  --color-tertiary-fade: rgba(51, 154, 240, 0.05);
}
:root[data-color='quad'] {
  --color-primary: #6741d9;
  --color-primary-dark: #5f3dc4;
  --color-primary-light: rgb(132, 94, 247);
  --color-primary-light-fade: #d0bfff;
  --color-primary-dim: rgba(132, 94, 247, 0.3);
  --color-primary-dull: rgba(132, 94, 247, 0.12);
  --color-primary-fade: rgba(132, 94, 247, 0.07);

  --color-quad: rgb(28, 126, 214);
  --color-quad-light: #339af0;
  --color-quad-light-fade: #7ab7e6;
  --color-quad-dark: #1971c2;
  --color-quad-dull: rgba(51, 154, 240, 0.3);
  --color-quad-dim: rgba(51, 154, 240, 0.15);
  --color-quad-fade: rgba(51, 154, 240, 0.05);
}
:root[data-color='pent'] {
  --color-primary: #0c8599;
  --color-primary-dark: #0b7285;
  --color-primary-light: rgb(33, 183, 207);
  --color-primary-light-fade: #99e9f2;
  --color-primary-dim: rgba(33, 183, 207, 0.3);
  --color-primary-dull: rgba(33, 183, 207, 0.15);
  --color-primary-fade: rgba(33, 183, 207, 0.05);

  --color-pent: rgb(28, 126, 214);
  --color-pent-light: #339af0;
  --color-pent-light-fade: #7ab7e6;
  --color-pent-dark: #1971c2;
  --color-pent-dull: rgba(51, 154, 240, 0.3);
  --color-pent-dim: rgba(51, 154, 240, 0.15);
  --color-pent-fade: rgba(51, 154, 240, 0.05);
}
:root[data-color='hex'] {
  --color-primary: #e8590c;
  --color-primary-dark: #d9480f;
  --color-primary-light: rgb(255, 146, 43);
  --color-primary-light-fade: #ffd8a8;
  --color-primary-dim: rgba(255, 146, 43, 0.3);
  --color-primary-dull: rgba(255, 146, 43, 0.15);
  --color-primary-fade: rgba(255, 146, 43, 0.05);

  --color-hex: rgb(28, 126, 214);
  --color-hex-light: #339af0;
  --color-hex-light-fade: #7ab7e6;
  --color-hex-dark: #1971c2;
  --color-hex-dull: rgba(51, 154, 240, 0.3);
  --color-hex-dim: rgba(51, 154, 240, 0.15);
  --color-hex-fade: rgba(51, 154, 240, 0.05);
}

:root[data-theme='light'] {
  // TEXT COLOR
  --text-dark: #111;
  --default-text: #222;
  --text-light: #333;
  --text-dim: #555;
  --text-dull: #777;

  // BACKGROUND
  --default-background: #f0f0f0;
  --background-light: #fff;
  --background-dark: #e1e1e1;
  --background-dull: #dadada;
  --background-dim: #d2d2d2;
  --background-hover: #0000001a;
  --background-hover-l: #0000000a;
  --backgrund-hover-light: #0000000a;
  --background-opacity: rgba(#ffffff, 0.5);

  --shadow-light: 0 0 1rem 0.15rem rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 1.2rem 2.4rem #00000014;
  --shadow-dark: 0 1.2rem 2.4rem #0000001a;

  --border-line: 1px solid var(--background-dim);
  --border-line-dark: 1px solid var(--background-dark);
  --border-line-light: 1px solid var(--background-dark);
  --border-line-dull: 1px solid var(--background-dull);
  --border-line-primary: 1px solid var(--color-primary-light);

  --brightness: 55%;
}

$phone: 31.5em;
$tab-port: 62.85em;
$tab-land: 66.5em;
$normal-desktop: 81.25em;
$big-desktop: 112.5em;

$default-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.15);
$shadow-light: 0 1.2rem 2.4rem rgba($color-black, 0.1);
$shadow-medium: 0 1.2rem 2.4rem rgba($color-black, 0.2);
$shadow-dark: 0 1.2rem 2.4rem rgba($color-black, 0.3);

$default-font-size: 1.8rem;
$font-size-lw: 1.2rem;
$font-size-sm: 1.5rem;
$font-size-md: 1.6rem;
$font-size-bg: 2rem;
$font-size-lg: 2.2rem;

$default-radius: 9px;
$radius-sm: 3px;
$radius-md: 5px;
$radius-bg: 11px;
$radius-lg: 13px;
$radius-hg: 2.4rem;
$radius-round: 10rem;

$default-padding: 1.6rem;
$padding-lw: 0.3rem;
$padding-sm: 1.2rem;
$padding-md: 2rem;
$padding-bg: 2.4rem;
$padding-lg: 3.2rem;

$default-gap: 1.6rem;
$gap-lw: 0.4rem;
$gap-sm: 1.2rem;
$gap-md: 2rem;
$gap-bg: 2.4rem;
$gap-lg: 3.2rem;

$default-space: 4.8rem;
$space-sm: 6.4rem;
$space-md: 8rem;
$space-bg: 9.6rem;
$space-lg: 12.8rem;

$default-line-height: 1.5;
$filter-brightess: 0.7;
